# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [2]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 16.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 1.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 65.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 3.3 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [40]:
import pandas as pd

df_path = "/content/dataset_part_2.csv"
df = pd.read_csv(df_path)

In [41]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'IsmaelSenhaji'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [45]:
if not database_exists(engine.url):
    create_database(engine.url)

In [48]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', engine)

ValueError: ignored

In [47]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [63]:
#Rellena la variable query con tu consulta
query = """select  DISTINCT LaunchSite from  SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [50]:
query = """select LaunchSite from  SPACEXTBL where LaunchSite like '%CCS%' limit 5;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1  CCSFS SLC 40
2  CCSFS SLC 40
3  CCSFS SLC 40
4  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [51]:
query = """select LaunchSite, Customers, sum(PayloadMass) from  SPACEXTBL where Customers like '%CRS%';"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite   Customers  sum(PayloadMass)
0  CCSFS SLC 40  NASA (CRS)           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [52]:
query = """select LaunchSite, Customers, Serial, avg(PayloadMass) from  SPACEXTBL where Serial like '%B1%';"""
df  = pd.read_sql(query, con = engine )
df

    LaunchSite Customers Serial  avg(PayloadMass)
0  VAFB SLC 4E       MDA  B1003       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [114]:
query = """select LaunchSite, LandingOutcome, Date from  SPACEXTBL where LandingOutcome like '%True RTLS%'order by Date asc limit 1;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite LandingOutcome        Date
0  CCSFS SLC 40      True RTLS  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [119]:
query = """select Serial, LandingOutcome, PayloadMass from  SPACEXTBL where LandingOutcome like '%True ASDS%' having PayloadMass between '4000' and '6000' order by PayloadMass desc ;"""
df  = pd.read_sql(query, con = engine )
df

  Serial LandingOutcome  PayloadMass
0  B1046      True ASDS       5800.0
1  B1021      True ASDS       5300.0
2  B1031      True ASDS       5200.0
3  B1059      True ASDS       5000.0
4  B1022      True ASDS       4696.0
5  B1026      True ASDS       4600.0
6  B1046      True ASDS       4000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [113]:
query = """select LaunchSite, Serial, PayloadMass, Count(Mission_Outcome)  from  SPACEXTBL group by Mission_Outcome  ;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite Serial  PayloadMass  Count(Mission_Outcome)
0  CCSFS SLC 40  B1018  2477.000000                       2
1  CCSFS SLC 40  B0003  6123.547647                      88

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [86]:
query = """select LaunchSite, Serial, PayloadMass  from  SPACEXTBL where PayloadMass > 1500  order by PayloadMass desc limit 10;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite Serial  PayloadMass
0  CCSFS SLC 40  B1048      15600.0
1  CCSFS SLC 40  B1049      15600.0
2  CCSFS SLC 40  B1051      15600.0
3  CCSFS SLC 40  B1056      15600.0
4    KSC LC 39A  B1048      15600.0
5    KSC LC 39A  B1051      15600.0
6  CCSFS SLC 40  B1049      15600.0
7  CCSFS SLC 40  B1059      15600.0
8  CCSFS SLC 40  B1049      15600.0
9    KSC LC 39A  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [102]:
query = """select LaunchSite, Serial, Date, PayloadMass, LandingOutcome, Mission_Outcome  from  SPACEXTBL where LandingOutcome like '%None%' or LandingOutcome like '%False%' having Date = 2015;"""
df  = pd.read_sql(query, con = engine )
df

,LaunchSite,Serial,Date,PayloadMass,LandingOutcome,Mission_Outcome
0,CCSFS SLC 40,B1012,2015-01-10,2395.0,False ASDS,1
1,CCSFS SLC 40,B1015,2015-04-14,1898.0,False ASDS,1
2,CCSFS SLC 40,B1016,2015-04-27,4707.0,None None,1
3,CCSFS SLC 40,B1018,2015-06-28,2477.0,None ASDS,0

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [126]:
query = """select LaunchSite, Serial, Date, LandingOutcome, Mission_Outcome  from  SPACEXTBL  having Date between '2010-06-04' and '2017-03-20' order by Date desc ;"""
df  = pd.read_sql(query, con = engine )
df

      LaunchSite Serial        Date LandingOutcome  Mission_Outcome
0     KSC LC 39A  B1030  2017-03-16      None None                1
1     KSC LC 39A  B1031  2017-02-19      True RTLS                1
2    VAFB SLC 4E  B1029  2017-01-14      True ASDS                1
3   CCSFS SLC 40  B1028  2016-09-01      None ASDS                0
4   CCSFS SLC 40  B1026  2016-08-14      True ASDS                1
5   CCSFS SLC 40  B1025  2016-07-18      True RTLS                1
6   CCSFS SLC 40  B1023  2016-05-27      True ASDS                1
7   CCSFS SLC 40  B1022  2016-05-06      True ASDS                1
8   CCSFS SLC 40  B1021  2016-04-08      True ASDS                1
9   CCSFS SLC 40  B1020  2016-03-04     False ASDS                1
10   VAFB SLC 4E  B1017  2016-01-17     False ASDS                1
11  CCSFS SLC 40  B1019  2015-12-22      True RTLS                1
12  CCSFS SLC 40  B1018  2015-06-28      None ASDS                0
13  CCSFS SLC 40  B1016  2015-04-27      None None                1
14  CCSFS SLC 40  B1015  2015-04-14     False ASDS                1
15  CCSFS SLC 40  B1013  2015-02-11     True Ocean                1
16  CCSFS SLC 40  B1012  2015-01-10     False ASDS                1
17  CCSFS SLC 40  B1010  2014-09-21    False Ocean                1
18  CCSFS SLC 40  B1011  2014-09-07      None None                1
19  CCSFS SLC 40  B1008  2014-08-05      None None                1
20  CCSFS SLC 40  B1007  2014-07-14     True Ocean                1
21  CCSFS SLC 40  B1006  2014-04-18     True Ocean                1
22  CCSFS SLC 40  B1005  2014-01-06      None None                1
23  CCSFS SLC 40  B1004  2013-12-03      None None                1
24   VAFB SLC 4E  B1003  2013-09-29    False Ocean                1
25  CCSFS SLC 40  B0007  2013-03-01      None None                1
26  CCSFS SLC 40  B0005  2012-05-22      None None                1
27  CCSFS SLC 40  B0003  2010-06-04      None None                1